.banner{
  width:100%;
  height:auto;
  margin-bottom:30px;
}
.commit{
  width:590px;
  margin:20px auto;
}
.commit input,.commit textarea{
  width:100%;
  margin:35px 0;
  border:none;background:#f6f7fb;
  color:#999999;
  line-height:40px;
  font-size:16px;
  letter-spacing: 2px;
  display:block;
  padding-left:20px;
}
.commit textarea{
  height:140px;
  font-weight: bold;
}
button{
  border:none;
  display:block;
  width:140px;
  font-size: 0;
  margin:0 auto;
}